ion-footer {
  min-width: 100vw;
  background-color: #21292e;
  color: white;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  height: 10em;
}

ion-footer p {
  width: fit-content;
  text-align: center;
}

#locationLogo {
  max-width: 7em;
}

@media screen and (max-width: 500px) {
  ion-footer p {
    width: 100%;
  }

  #locationLogo {
    width: 100%;
  }

  #footerBtn {
    width: 100%
  }
}

.thirds {
  width: 33.333%;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 1100px){
  ion-footer {
    height: auto
  }

  .thirds {
    width: 100%;
    padding: 1em
  }
}
