<ion-footer>
  <div class="thirds">
    <div class="footerBtn">
      <ion-button
        shape="round"
        color="light"
        href="https://www.facebook.com/CreativeArtsResourceCenter"
      >
        <ion-icon slot="icon-only" name="logo-facebook"></ion-icon>
      </ion-button>
    </div>
  </div>

  <div class="thirds">
    <img id="locationLogo" src="../../../assets/icon/icon.png" />
  </div>

  <div class="thirds">
    <p>creativekingdominternational@gmail.com</p>
  </div>
</ion-footer>
