header {
  position: fixed;
  z-index: 999;
  background-color: #36454F;
  min-height: 3.5em;
  min-width: 100%;
  border-bottom: 0.3em solid #FFFFF0;
  display: flex;
  justify-content: center;
}

nav {
  margin-top: 3em;
  padding-right: .5em;
  padding-top: 2em;
  position: absolute;
  transform: scale(1, 0);
  -webkit-transform: scale (1,0);
  transform-origin: top;
  -webkit-transform-origin: top;
  transition: transform 400ms ease-in-out;
  -webkit-transition: transform 400ms ease-in-out;
  background-color: #36454F;
  border-bottom: 0.3em solid #FFFFF0;
  // border-right: 0.3em solid #FFFFF0;
}

#headerLogoTwo {
  max-width: 5em;
  opacity: 1;
  transition: opacity 150ms ease-in-out;
  -webkit-transition: opacity 150ms ease-in-out
}

.nav-toggle:checked ~ nav {
  transform: scale(1, 1);
  -webkit-transform: scale(1, 1)
}

.nav-toggle {
  display: none;
}

.nav-toggle-label {
  position: absolute;
  top: 0;
  left: 0;
  margin-left: 1em;
  height: 100%;
  display: flex;
  align-items: center;
}

.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after {
  display: block;
  background: #FFFFF0;
  height: 2px;
  width: 2em;
  border-radius: 2px;
  position: relative;
}

.nav-toggle-label span::before,
.nav-toggle-label span::after {
  content: "";
  position: absolute;
}

.nav-toggle-label span::before {
  bottom: 8px;
}

.nav-toggle-label span::after {
  top: 8px;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  margin-bottom: 1em;
  margin-left: 1em;
}

nav a, nav img {
  color: #FFFFF0;
  text-decoration: none;
  font-size: 1.1rem;
  text-transform: uppercase;
  opacity: 0;
  transition: opacity 150ms ease-in-out;
  -webkit-transition: opacity 150ms ease-in-out
}

.nav-toggle:checked ~ nav a, .nav-toggle:checked ~ nav img {
  opacity: 1;
  transition: opacity 250ms ease-in-out 250ms;
  -webkit-transition: opacity 250ms ease-in-out 250ms
}

.nav-toggle:checked ~ #headerLogoTwo {
  opacity: 0;
  transition: opacity 250ms ease-in-out 150ms;
  -webkit-transition: opacity 250ms ease-in-out 150ms;
}

@media screen and (min-width: 1136px) {
  #headerLogo {
    display:none
  }

  #headerLogoTwo {
    display: none
  }

  .nav-toggle-label {
    display: none;
  }
  header {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  nav {
    all: unset;
    grid-column: 1/3;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  nav ul {
    display: flex;
    justify-content: flex-end;
  }
  nav li {
    margin-left: 3em;
    margin-bottom: 0;
  }
  nav a {
    opacity: 1;
    position: relative;
  }
  nav a::before {
    content: "";
    height: 5px;
    background-color: #FFFFF0;
    position: absolute;
    top: -0.75em;
    left: 0;
    right: 0;
    transform: scale(0, 1);
    transition: transform ease-in-out 250ms;
    -webkit-transform: scale(0, 1);
    -webkit-transition: transform ease-in-out 250ms;
  }
  nav a:hover::before {
    transform: scale(1, 1);
    -webkit-transform: scale(1, 1);
  }
}
