.container {
    display: flex;
    justify-content: center;
}

.calendar {
    min-width: 100%;
    min-height: 100vh
}

.mobile {
  display: none;
  min-width: 100%;
  min-height: 100vh;
}

@media screen and (max-width: 885px) {
  .mobile {
    display: block;
  }

  .calendar {
    display: none
  }
}
