ion-content {
  display: flex;
  flex-direction: column;
  background-color: #36454F;
  align-items: center;
  justify-content: center;
}

// cover start
.cover {
  margin-top: 2em;
  display: flex;
  justify-content: end;
}

.cover > h1 {
  transform: rotate(-90deg);
  background: none;
  -webkit-text-stroke: 1px #FFFFF0;
  color: #36454F;
  font-size: 75px;
  align-self: end;
  font-weight:bolder;
}

@media screen and (max-width: 1792px) {
  .cover > h1 {
    font-size: 60px;
  }
}

@media screen and (min-width: 2242px) {
  .cover > h1 {
    font-size: 95px;
  }
}

@media screen and (min-width: 2810px) {
  .cover > h1 {
    font-size: 120px;
  }
}

#big_pic {
  width: 70%;
  height: auto
}

#small_pic {
  display: none
}

@media screen and (max-width: 1220px) {
  .cover > h1 {
    display: none
  }

  #big_pic {
    display: none
  }

  #small_pic {
    display: block;
    object-fit: cover;
    width: 100%;
    height: 70vh;
  }
}
// cover end

//main container start
.big_container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-content: center;
  margin: 1em;
  padding: 1em;
}

.innerContainer {
  max-width: 30%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding-right: .5em
}

@media screen and (max-width: 1220px) {
  .innerContainer {
    min-width: 100%;
    margin-bottom: .2em;
    margin-right: 0;
    padding-right: 0
  }

  .service {
    min-width: 100%
  }
}

@media screen and (max-width: 400px) {

  .container{
    max-width: 100%;
  }

  .innerContainer {
    margin-bottom: .2em;
    min-width: 95vw;
    max-width: 95vw;
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0
  }

  .who h1 {
    padding-left: 2em
  }

  .service h1 {
    padding-left: 2em
  }

  .services h3 {
    padding-left: .2em;
    padding-right: .5em;
    padding-bottom: 0;
    padding-top: 0;
  }

  .services p {
    padding-left: .5em;
    padding-right: .5em;
    padding-bottom: 0;
    padding-top: 0
  }
}

h1 {
  display: table;
  padding: 0.7em;
  background-color: #36454F;
  color: #FFFFF0;
}

.who {
  background-color: #ff4a75;
  color: #FFFFF0;
  display: flex;
  flex-wrap: wrap;
  font-size: 1.2rem;
  line-height: 1.6;
}

.who h1 {
  height: 2em
}

.service h1 {
  height: 2em;
}

.who > p {
  padding: 1em;
  margin: 1em;
  width: 100%
}

.service {
  background-color: #56dcde;
  color: #FFFFF0;
  max-width: 70%;
}

@media screen and (min-width: 2382px) {
  .service {
    padding: 20em;
  }

  .calCard {
    min-height: 45%;
  }

  .who {
    min-height: 45%;
  }
}

@media screen and (max-width: 635px) {
  .innerContainer {
    max-width: 95%;
    padding: 0
  }

  .service {
    min-width: 95vw;
    margin-top: 1.5em
  }

  .who {
    min-width: 100%;
    margin: 0 0 .5em 0;
  }
}

.serviceContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-top: 8em
}

.services {
  max-width: 50ch;
  min-width: 35ch;
  width: 45ch;
  padding: 1.5em;
  margin: .5em;
  font-size: 1.2rem;
  line-height: 1.5;
}

.services > h3 {
  color: black;
  font-size: 2em;
  font-weight: bold;
}

.services > img {
  width: 25em;
  height: auto;
  align-self: start;
}

.serviceButnText {
  color: #FFFFF0;
  font-size: 1em
}

ion-icon {
  color: black
}

ion-card {
  text-align: center;
  font-size: 4em;
  background-color: #FFFFF0;
}

ion-item {
  --ion-item-background: #FFFFF0
}

.calCard {
  overflow-y: scroll;
  min-width: 100%;
  margin: 0 0 .5em 0;
  border-radius: 0;
  background-color: #FFFFF0
}

.calCard ion-button {
  width: 8em
}
//main container end

//map and contact container start
.map {
  display: flex;
  flex-wrap: wrap;
  max-width: 97%;
  height: 20em;
  margin: 1em;
}

.locationContainer {
  background-image: url("../../assets/pictures/mariMap.png");
  background-position: center;
  display: flex;
  justify-content: end;
  align-items: flex-end;
  color: #FFFFF0;
  width: 80%
}

.contactContainer, .locationContainer {
  min-height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 1em
}

.contactContainer {
  display: flex;
  justify-content: center;
  align-items: space-between;
  text-align: center;
  background-color: #333333;
  width: 20%;
  min-height: 4em
}

@media screen and (max-width: 1104px) {
  .map {
    height: auto
  }

  .locationContainer {
    width: 100%;
    min-height: 15em
  }

  .contactContainer {
    width: 100%;
    min-height: 8em;
    padding-bottom: 1em
  }
}

.contactContainer > h1, h3, p {
  width: 100%
}

.locationContainer > h1, h3, p {
  width: 100%
}

.contactContainer > h1 {
  height: 2.5em;
  background-color: transparent;
}

.locationContainer > h1 {
  height: 2.5em
}

@media screen and (max-width: 900px) {
  .contactContainer, .locationContainer {
    width: 100%
  }
}
//map and contact container end
