<ion-content>
    <header>
        <input type="checkbox" id="nav-toggle" class="nav-toggle" />
        <nav>
            <ul>
                <li><a class="one" href="#">About</a></li>
                <li><a class="two" href="#">Calendar</a></li>
                <li><a class="two" href="#">Community Groups</a></li>
                <li><a class="two" href="#">Workshops</a></li>
            </ul>
        </nav>
        <label for="nav-toggle" class="nav-toggle-label">
      <span></span>
    </label>
    </header>
    <!-- header ends -->

    <div class="page">
        <div class="cover">
            <img src="../../assets/pictures/logo_location_mari.png" />
        </div>

        <div class="about ion-text-center">
            <p>
                Created to bring inner healing to bring outer transformation. Growing people, families, communities, and cities through Creative Arts such as Art, Dance, Writing, Drama, Culinary.
            </p>
        </div>

        <div class="back">
            <p>
                Created to bring inner healing to bring outer transformation. Growing people, families, communities, and cities through Creative Arts such as Art, Dance, Writing, Drama, Culinary.
            </p>
        </div>

        <div class="big_container">
            <div class="container">
                <div class="info" id="who">
                    <h1>Who We Are</h1>

                    <p>
                        We provide a safe place to create. <br />
                        <br /> A community of creative believers. <br />
                        <br /> Creative groups specifically geared towards your passion. <br />
                        <br /> Classes to grow you in supernatural creativity to lead, heal, prophesy, worship, intercede and evangelize.
                        <br />
                        <br /> Books, E-courses, Materials, and Workshops to take you to the next level spiritually and skillfully. <br />
                        <br /> We provide a place of freedom and healing and courses to help you walk through loss, trauma, and pain. <br />
                        <br />
                    </p>
                </div>

                <div class="calendarAndContact">
                    <ion-card class="calCard" color="primary">
                        <ion-card-header color="primary">
                            <ion-icon name="calendar-outline"></ion-icon>
                            <ion-card-title>Special Event Calendar</ion-card-title>
                        </ion-card-header>
                        <ion-card-content color="primary">
                            <ion-list color="primary">
                                <ion-item color="primary">
                                    <ion-label>Art Community - November 23rd - 7-9PM</ion-label>
                                    <ion-button fill="outline" color="tertiary">Details</ion-button>
                                </ion-item>
                                <ion-item color="primary">
                                    <ion-label>Art Community - December 7th - 7-9PM</ion-label>
                                    <ion-button fill="outline" color="tertiary">Details</ion-button>
                                </ion-item>
                                <ion-item color="primary">
                                    <ion-label>Art Community - December 21st - 7-9PM</ion-label>
                                    <ion-button fill="outline" color="tertiary">Details</ion-button>
                                </ion-item>
                                <ion-item color="primary">
                                    <ion-label>Art Community - January 11th - 7-9PM</ion-label>
                                    <ion-button fill="outline" color="tertiary">Details</ion-button>
                                </ion-item>
                                <ion-item color="primary">
                                    <ion-label>Art Community - January 25th - 7-9PM</ion-label>
                                    <ion-button fill="outline" color="tertiary">Details</ion-button>
                                </ion-item>
                                <ion-item color="primary">
                                    <ion-label>Art Community - February 8th - 7-9PM</ion-label>
                                    <ion-button fill="outline" color="tertiary">Details</ion-button>
                                </ion-item>
                            </ion-list>
                        </ion-card-content>
                    </ion-card>

                    <ion-card class="contact">
                        <ion-card-header>
                            <ion-icon color="success" name="mail-outline"></ion-icon>
                            <ion-card-title color="success">Questions?</ion-card-title>
                        </ion-card-header>
                        <ion-card-content>
                            <ion-item color="primary">
                                <ion-label position="floating">Name</ion-label>
                                <ion-input type="text"></ion-input>
                            </ion-item>
                            <ion-item color="primary">
                                <ion-label position="floating">Email</ion-label>
                                <ion-input type="text"></ion-input>
                            </ion-item>
                            <ion-item color="primary">
                                <ion-label position="floating">Message</ion-label>
                                <ion-textarea></ion-textarea>
                            </ion-item>
                        </ion-card-content>
                        <div class="contactBtn">
                            <ion-button class="ion-padding" fill="outline" color="tertiary">Submit</ion-button>
                        </div>
                    </ion-card>
                </div>
            </div>

            <div class="info" id="service">
                <h1>Our Services</h1>

                <div class="serviceContainer">
                    <div class="services">
                        <h3>Art Community</h3>
                        <p>
                            We go after supernatural creativity through art! You will learn how to co-create with God, prophecy through art, overcome fears, find inner healing, and get encouragement and accountability.
                        </p>
                    </div>

                    <div class="services">
                        <h3>Kingdom Writers Association</h3>
                        <p>
                            You will gain a community and family of writers who love to encourage one another and provide a safe place to share your writing. Learn how God wants to use your writing gift to touch others, to prophesy, heal, and even bring you through healing.
                        </p>
                    </div>
                </div>

                <div class="serviceContainer">
                    <div class="services">
                        <h3>Saturday Morning Creative Worship</h3>
                        <p>
                            Two Saturdays out of the month we gather all the creatives to worship and pray. As well as do group activations, mini teachings, and follow the Holy Spirit's lead to create, encourage one another, and have fun!
                        </p>
                    </div>

                    <div class="services">
                        <h3>Kingdom Dance and Movement</h3>
                        <p>
                            David danced before the Lord and so shall we! Come learn more about how God redeems our bodies, break off body shame, and learn redeemed expressions. You'll learn how to use flags, dance with freedom, and how to connect to God through movement.
                        </p>
                    </div>

                    <div class="services">
                        <h3>Workshops</h3>
                        <p>
                            God can move supernaturally through creativity. Learn how to prophecy, heal, evangelize, worship, intercede, and encounter the Lord at a weekend workshop- hosted by us or bring us to you!
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <ion-footer>
            <div class="footer">
                <div class="three">
                    <p class="footerText">creativekingdominternational@gmail.com</p>
                    <p class="footerText">250 West Broadway, Waukesha, WI 53186</p>
                </div>

                <img src="../../assets/pictures/logo_transparent.png" />

                <div class="two">
                    <ion-button shape="round" fill="clear" size="large" color="dark" href="https://www.facebook.com/CreativeArtsResourceCenter">
                        <ion-icon slot="icon-only" name="logo-facebook"></ion-icon>
                    </ion-button>
                </div>
            </div>
        </ion-footer>
    </div>
</ion-content>