<ion-content>
  <div class="page">
    <header>
      <input type="checkbox" id="nav-toggle" class="nav-toggle" />
      <nav>
        <ul>
          <li><a class="two" href="#">Contact</a></li>
          <li><a class="two" href="#">Calendar</a></li>
          <li><a class="two" href="#">Donate</a></li>
          <li><a class="two" href="#">Sign Up</a></li>
          <li><img id="headerLogo" src="../../assets/icon/icon.png"/></li>
        </ul>
      </nav>
      <img id="headerLogoTwo" src="../../assets/icon/icon.png"/>
      <label for="nav-toggle" class="nav-toggle-label">
        <span></span>
      </label>
    </header>
    <!-- header ends -->

    <div class="cover">
      <img id="big_pic" src="../../assets/pictures/logo_location_mari_v2.jpg" />
      <img id="small_pic" src="../../assets/pictures/logo_small.jpg" />
      <h1>
        WORSHIP
        <br />
        INTERCESSION
        <br />
        EVANGELISM
        <br />
        INNER HEALING
      </h1>
    </div>

    <div class="big_container">
      <div class="container">
        <div class="innerContainer">
          <div class="who">
            <h1>Who We Are</h1>

            <p>We provide a safe place to create.</p>

            <p>A community of creative believers.</p>

            <p>Creative groups specifically geared towards your passion.</p>

            <p>
              Classes to grow you in supernatural creativity to lead, heal,
              prophesy, worship, intercede and evangelize.
            </p>

            <p>
              Books, E-courses, Materials, and Workshops to take you to the next
              level spiritually and skillfully.
            </p>

            <p>
              We provide a place of freedom and healing and courses to help you
              walk through loss, trauma, and pain.
            </p>
          </div>
          <ion-card class="calCard">
            <ion-card-header>
              <ion-icon name="calendar-outline"></ion-icon>
              <ion-card-title> Our Schedule</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <ion-list>
                <ion-item>
                  <ion-label>Art Community <br/><i>Nov 23rd 7PM - 9PM</i></ion-label>
                  <ion-button expand="block" color="success"
                    ><div class="serviceButnText">
                      <span> details </span>
                    </div></ion-button
                  >
                </ion-item>
                <ion-item>
                  <ion-label></ion-label>
                  <ion-button expand="block" color="success"
                    ><div class="serviceButnText">
                      <span> Register </span>
                    </div></ion-button
                  >
                </ion-item>
                <ion-item>
                  <ion-label></ion-label>
                  <ion-button expand="block" color="success"
                    ><div class="serviceButnText">
                      <span> Register </span>
                    </div></ion-button
                  >
                </ion-item>
                <ion-item>
                  <ion-label></ion-label>
                  <ion-button expand="block" color="success"
                    ><div class="serviceButnText">
                      <span> Register </span>
                    </div></ion-button
                  >
                </ion-item>
                <ion-item>
                  <ion-label></ion-label>
                  <ion-button expand="block" color="success"
                    ><div class="serviceButnText">
                      <span> Register </span>
                    </div></ion-button
                  >
                </ion-item>
                <ion-item>
                  <ion-label></ion-label>
                  <ion-button expand="block" color="success"
                    ><div class="serviceButnText">
                      <span> Register </span>
                    </div></ion-button
                  >
                </ion-item>
              </ion-list>
            </ion-card-content>
          </ion-card>
        </div>

        <div class="service">
          <h1>Our Services</h1>

          <div class="serviceContainer">
            <div class="services">
              <h3>Art Community</h3>
              <p>
                We go after supernatural creativity through art! You will learn
                how to co-create with God, prophecy through art, overcome fears,
                find inner healing, and get encouragement and accountability.
                Happens every other Tuesday!
              </p>
              <ion-button expand="block" color="success">
                <div class="serviceButnText">
                  <span> See Dates </span>
                </div>
              </ion-button>
            </div>

            <div class="services">
              <h3>Kingdom Writers Association</h3>
              <p>
                You will gain a community and family of writers who love to
                encourage one another and provide a safe place to share your
                writing. Learn how God wants to use your writing gift to touch
                others, to prophesy, heal, and even bring you through healing.
              </p>
              <ion-button expand="block" color="success">
                <div class="serviceButnText">
                  <span> See Dates </span>
                </div>
              </ion-button>
            </div>
          </div>

          <div class="serviceContainer">
            <div class="services">
              <h3>Saturday Morning Creative Worship</h3>
              <p>
                Two Saturdays out of the month we gather all the creatives to
                worship and pray. As well as do group activations, mini
                teachings, and follow the Holy Spirit's lead to create,
                encourage one another, and have fun!
              </p>
              <ion-button expand="block" color="success">
                <div class="serviceButnText">
                  <span> See Dates </span>
                </div>
              </ion-button>
            </div>

            <div class="services">
              <h3>Kingdom Dance and Movement</h3>
              <p>
                David danced before the Lord and so shall we! Come learn more
                about how God redeems our bodies, break off body shame, and
                learn redeemed expressions. You'll learn how to use flags, dance
                with freedom, and how to connect to God through movement.
              </p>
              <ion-button expand="block" color="success">
                <div class="serviceButnText">
                  <span> See Dates </span>
                </div>
              </ion-button>
            </div>

            <div class="services">
              <img src="../../assets/pictures/stock_dance.jpg" />
            </div>

            <div class="services">
              <h3>Workshops</h3>
              <p>
                God can move supernaturally through creativity. Learn how to
                prophecy, heal, evangelize, worship, intercede, and encounter
                the Lord at a weekend workshop- hosted by us or bring us to you!
              </p>
              <ion-button expand="block" color="success">
                <div class="serviceButnText">
                  <span> See Dates </span>
                </div>
              </ion-button>
            </div>
          </div>
        </div>
      </div>

      <div class="container">
        <ion-card class="contact">
          <ion-card-header>
            <ion-icon name="mail-outline"></ion-icon>
            <ion-card-title>Get in Touch!</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <p>Email us at</p>
            <p>creativekingdominternational@gmail.com</p>
            <br />
            <p>Or fill out our contact form</p>
            <div class="contactBtn">
              <ion-button expand="block" color="success"
                ><div class="serviceButnText">
                  <span> Contact </span>
                </div></ion-button
              >
            </div>
          </ion-card-content>
        </ion-card>
      </div>

      <!-- <div class="container">
        <div class="testimony">

        </div>
      </div> -->
    </div>

    <ion-footer>
      <div class="footer">
        <div class="three">
          <p class="footerText">creativekingdominternational@gmail.com</p>
          <p class="footerText">250 West Broadway, Waukesha, WI 53186</p>
        </div>

        <img src="../../assets/icon/icon.png" />

        <div class="two">
          <ion-button
            shape="round"
            fill="clear"
            size="large"
            color="dark"
            href="https://www.facebook.com/CreativeArtsResourceCenter"
          >
            <ion-icon slot="icon-only" name="logo-facebook"></ion-icon>
          </ion-button>
        </div>
      </div>
    </ion-footer>
  </div>
</ion-content>
